.agency_top {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .subheader_top {
    font-size: 75px;
    text-align: center;
  }
  .header_top {
    font-size: 50px;
  }
  .header_copy {

  }
}

.agency {
  height: 100%;
}

.theoldgirl {
  height: 100%;
  padding: 50px;
  background-image: url(/images/agency/theoldgirl_grayscale.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
  display: flex;
  .block {
    margin-top: 50px;
    width: 100%;
  }
}

.border-wrap {
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  margin: 50px;
  right: 0;
  bottom: 0;
  display: block;
  margin-left: 0;
  .border-lines {
    position: absolute;
    border: 3px solid black;
    top: 0;
    left: 0;
    border-left: none;
    right: 0;
    bottom: 0;
    // &:after {
    //
    // }

  }
  .top_line {
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    top: 0px;
    left: 0;
  }

  .bottom_line {
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    bottom: 0;
    right: 110px;
  }

  .right_line {
    height: 100%;
    width: 3px;
    background: black;
    position: absolute;
    bottom: 110px;
    right: 0;
  }

  .left_line {
    height: 100%;
    width: 3px;
    background: black;
    position: absolute;
    top: 110px;
    left: 0;
  }

  .bottom_right_corner {
    width: 3px;
    height: 300px;
    background: black;
    position: absolute;
    bottom: -50px;
    right: 10px;
    transform: rotate(45deg);
  }

  .top_left_corner {
    width: 3px;
    height: 300px;
    background: black;
    position: absolute;
    top: -50px;
    left: 10px;
    transform: rotate(45deg);
  }
}

.block {
  display: flex;
  .content {
    width: 650px;
  }
  .left_label {
    float: left;
    width: 33%;
    font-size: 20px;
  }
}

.needle {
  margin: 50px 0;
  margin-right: 50px;
  background-color: $black;
  background:
    linear-gradient(135deg, transparent 75px, $black 0) top left,
    linear-gradient(0deg, transparent 0, $black 0) top right,
    linear-gradient(315deg, transparent 75px, $black 0) bottom right,
    linear-gradient(0deg, transparent 0, $black 0) bottom left;
  background-size: 51%!important;
  background-repeat: no-repeat!important;
  padding: 100px 7%;
  color: white;

  .needle_headline {
    text-transform: uppercase;
    font-size: 75px;
    margin: 0;
    line-height: 1;
  }

  .needle_section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .copy {
      flex: 1;
      padding: 0 10%;
    }
  }
}

.block {
  margin: 25px 0 50px;
}

img.full {
  width: 100%;
  display: block;
}

.white {
  color: white;
}

.image-container {
  position: relative;
}

.block {
  padding: 25px 7% 50px;
  margin: 0;
}

.bottom_thing {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  .border-wrap {
    margin: 0;
    margin-right: 50px;
    .top_line {
    }
    .right_line {
      top: 0;
    }
  }
  .content {
    .uppercase {
      font-size: 30px;
      line-height: 1.2;
      margin: 0;
    }
    .bold {
      font-size: 50px;
      line-height: 1.2;
      margin: 0;
    }
  }
}

.service_list {
  display: flex;
  flex-direction: row;
  .service_type {
    flex: 1;
  }
  .service_title {
    text-transform: uppercase;
  }
  .service {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      background: transparent;
      top: 8px;
      transition:0.15s ease-out;
      transition:
        0.1s ease-out left,
        0.15s ease-out background,
        0.2s ease-out transform;
      left: 0;
      transform: rotate(3600deg);
    }
    &:hover {
      cursor: pointer;
      &:before {
        background: $black;
        transform: rotate(-45deg);
        left: -30px;

      }
    }
  }
}

.services {
  // height: 100%;
  position: relative;
  padding: 50px;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.clients {
  position: relative;
  .block {
    margin: 0;
    padding: 25px 7% 50px;
  }
  .border-wrap {
    margin: 0;
    margin-right: 50px;
    .top_line {
    }
    .right_line {
      top: 0;
    }
  }
}

.diamond {
  display: inline-block;
  position: relative;
  height: 8px;
  width: 8px;
  background: $gray;
  transform: rotate(-45deg);
  top: -2px;
  margin: 0 7px;
}

.service_detail {
  position: absolute;
  top: 50px;
  left: 100%;
  right: -100%;
  background: white;
  bottom: 50px;
  z-index: 1;
  transition: 0.25s ease-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .service_detail_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 3px solid $black;
    border-right: none;
  }

  &.open {
    left: 50px;
    right: 0;
  }
  .area {
    text-transform: capitalize;
    color: $gray;
  }
  .name {
    font-size: 75px;
    line-height: 1;
    margin: 0;
  }

  .close {
    cursor: pointer;
    position: relative;
    .isvg {
      z-index: 2;
      position: absolute;
      top: -50px;
      left: -50px;
      svg {
        background: white;
        width: 30px;
        height: 30px;
      }
    }
    &:after {
      content: '';
      height: 300px;
      width: 300px;
      background: $lightgray;
      position: absolute;
      border: 3px solid $black;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -250px;
      left: -250px;
      z-index: 1;
    }
  }

  .top_detail {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 7%;
    .left {
      padding-right: 75px;
    }
    .right {
      flex: 1;
    }
  }
  .next_service, .prev_service {
    opacity: 0;
    &.here {
      opacity: 1;
      transition: 0.15s ease-out;
    }
    cursor: pointer;
    color: $gray;
    transition: 0.15s ease-out;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      transition: 0.15s ease-out;
      fill: $gray;
    }
    .service_name {
      margin: 0 10px;
    }
    &:hover {
      color: $black;
      svg {
        fill: $black;
      }
    }
  }
  .next_service {
    float: right;
  }

}

p.italic.weliveit {
  font-size: 35px;
  font-family:'MuseoSansW01-100Italic'
}

.woman-image {
  position: relative;
  overflow: hidden;
  .border-wrap {
    &.upper {
      bottom: 100%;
      top: auto;
      height: 1000%;
      .right_line {
        bottom: 110px;
        top: auto;
      }
    }
    &.lower {
      top: -3px;
      .top_line {
        right: 110px;
        left: 110px;
        width: auto;
      }
    }
    .right_line {
    }
  }
}

.audience {
  position: relative;
  .border-wrap {
    margin: 0;
    .left_line {
      top: 0;
    }
  }
}
