.case_study .top {
  position: relative;
  height: 100vh;
}

.top {
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid #ececec;
  .case_study_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 1;
    color: #ececec;
    padding-left: 7%;
    margin: 0;
    margin-bottom: -1.5vw;
    font-style: normal;
  }
}

.main_content {
    position: relative;
}

.second_street {
  color: #f27d6b;
}

.case_study {
  transition: 1s ease-out;
  min-height: 100vh;
  &.loading {

    background: black;
  }
  &.loaded {
    background: transparent;
  }
  .main_content {
    opacity: 0;
    transition: .25s ease-out;
    &.loading {
      opacity: 0;
    }
    &.loaded {
      opacity: 1;
    }
  }
  .case_study_loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
