.case_study .top {
  position: relative;
  height: 100vh;
  background-color: black;
}

.top {
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid #ececec;
  .case_study_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
    color: #ececec;
    padding-left: 75px;
    margin: 0;
    font-style: normal;
    font-size: 3.2vw;
    margin-bottom: -1.3vw;
    .heading {
      display: inline-block;
      margin: 0;
      line-height: 1;
    }
    .isvg svg {
      width: 3.2vw;
      height: 4.5vw;
      margin-right: 25px;
      fill: white;
    }
  }
}

.main_content {
    position: relative;
}

.second_street {
  color: #f27d6b;
}

.case_study {
  transition: 1s ease-out;
  min-height: 100vh;
  &.loading {
    height: 100vh;
    // background: black;
  }
  &.loaded {
    background: transparent;
  }
  .main_content {
    opacity: 0;
    transition: .25s ease-out;
    &.loading {
      opacity: 0;
    }
    &.loaded {
      opacity: 1;
    }
  }
  .case_study_loader {
    position: absolute;
    background: black;
    top: 0;
    right: 0;
    left: 70px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
