.case_study, .top {
  height: 100%;
}

.top {
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid #ececec;
  .case_study_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 60px;
    line-height: .83;
    color: #ececec;
    padding-left: 7%;
  }
}


.second_street {
  color: #f27d6b;
}
