// Conduit
// font-family:'ConduitITCW01-ExtraLigh 731268';
// font-family:'ConduitITCW01-ExtraLigh 731271';
// font-family:'Conduit ITC W01 Light';
// font-family:'ConduitITCW01-LightItal';
// font-family:'Conduit ITC W01 Regular';
// font-family:'Conduit ITC W01 Italic';
// font-family:'Conduit ITC W01 Medium';
// font-family:'ConduitITCW01-MediumIta';
// font-family:'Conduit ITC W01 Bold';
// font-family:'ConduitITCW01-BoldItali';
// font-family:'ConduitITCW01-ExtraBold 731262';
// font-family:'ConduitITCW01-ExtraBold 731265';
// font-family:'Conduit ITC W01 Black';
// font-family:'ConduitITCW01-BlackItal';

// Museo Sans
// font-family:'Museo Sans W01_100';
// font-family:'MuseoSansW01-100Italic';
// font-family:'Museo Sans W01_300';
// font-family:'MuseoSansW01-300Italic';
// font-family:'Museo Sans W01_500';
// font-family:'MuseoSansW01-500Italic';
// font-family:'Museo Sans W01_700';
// font-family:'MuseoSansW01-700Italic';
// font-family:'Museo Sans W01_900';
// font-family:'MuseoSansW01-900Italic';
// font-family:'MuseoSansW01-Rounded100_942388';
// font-family:'MuseoSansW01-Rounded300';
// font-family:'MuseoSansW01-Rounded500';
// font-family:'MuseoSansW01-Rounded700';
// font-family:'MuseoSansW01-Rounded900';
// font-family:'MuseoSansW01-Rounded100_942391';
// font-family:'Museo Sans Cyrl W03_100';
// font-family:'Museo Sans Cyrl W03_100 Italic';
// font-family:'Museo Sans Cyrl W03_300';
// font-family:'Museo Sans Cyrl W03_300 Italic';
// font-family:'Museo Sans Cyrl W03_500';
// font-family:'Museo Sans Cyrl W03_500 Italic';
// font-family:'Museo Sans Cyrl W03_700';
// font-family:'Museo Sans Cyrl W03_700 Italic';
// font-family:'Museo Sans Cyrl W03_900';
// font-family:'Museo Sans Cyrl W03_900 Italic';
// font-family:'Museo Sns W00 Cond_100';
// font-family:'MuseoSnsW00-Cond100It';
// font-family:'Museo Sns W00 Cond_300';
// font-family:'MuseoSnsW00-Cond300It';
// font-family:'Museo Sns W00 Cond_500';
// font-family:'MuseoSnsW00-Cond500It';
// font-family:'Museo Sns W00 Cond_700';
// font-family:'MuseoSnsW00-Cond700It';
// font-family:'Museo Sns W00 Cond_900';
// font-family:'MuseoSnsW00-Cond900It';

h1,h2,h3,h4,h5 {
  font-family:'Conduit ITC W01 Bold';
  font-weight: normal;
  &.bold {
    font-family:'Conduit ITC W01 Bold';
    font-weight: normal;
  }
  -webkit-font-smoothing: antialiased;
}

body, p, span {
  font-family:'Museo Sans W01_300';
  font-size: 18px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  &.italic {
    font-family:'MuseoSansW01-300Italic';
    span {
      font-family:'MuseoSansW01-300Italic';
    }
  }
  &.bold {
    font-weight: normal !important;
    font-family:'Museo Sans W01_700';
    span {
      font-weight: normal !important;
      font-family:'Museo Sans W01_700';
    }
  }
  &.bold.italic {
    font-weight: normal !important;
    font-family:'MuseoSansW01-700Italic';
    span {
      font-weight: normal !important;
      font-family:'MuseoSansW01-700Italic';
    }
  }
}

.uppercase {
  text-transform: uppercase;
}
