.diamond_grid{
  width: 600px;
  height: 100%;
  padding-top: 1px;
  overflow: hidden;
  position: relative;
  z-index: 11;
  .square {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.6);
    transform: rotate(45deg);
    margin: 40px 40px;
    transition: 0.15s ease-out;
    float: left;
    &:nth-child(3n) {
      margin-left: 180px;
      margin-top: -100px;
      margin-bottom: -100px;
      border: 2px solid rgba(255,255,255,0);
      &:hover {
        border: 2px solid rgba(255,255,255,1);
      }
    }
    .diamond_wrapper {
      color: white;
      transform: rotate(-45deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      fill: white;
      .sprite_container  {
        svg {
          fill: rgba(255,255,255,0.6);
        }
        &:hover {
          svg {
            fill: white;
          }
        }
      }
    }
  }
  a.square {
    &:hover {
      border: 2px solid rgba(255,255,255,1);
    }
  }
}

.home_page {
  background-image: url(/images/experiential/flavor-of-the-scene/dojo.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  height: 100%;
}

.home {
  padding-left: 0;
  .navigator {
    opacity: 0;
    left: -70px;
    &:hover {
      max-width: 70px;

    }
  }
}

.video-container {
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: 5s ease-out;
    &.has_video {
      opacity: 1;
    }
    video {
      position: absolute;
      background: transparent;
      bottom: 50%;
      right: 50%;
      transform: translateX(50%) translateY(50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      display: block;
    }
}
