
.mobile_main {
  display: none;
}

$third: (( 100vw / 3vw ) / sqrt(2));

$mobile_diamond_size: 23vw;
$mobile_left_factor: 10.4vw;
$mobile_border_width: .2vw;
$mobile_diamond_margin: (($mobile_diamond_size - ( 2 * $mobile_border_width)) * (sqrt(2) - 1)) / 2;

$mobile_diamond_width: sqrt(2) * $mobile_diamond_size;
$mobile_half_diamond: $mobile_diamond_width / 2;
$mobile_diamond_width_border: sqrt(2) * ($mobile_diamond_size + ( 2 * $mobile_border_width ));
$mobile_half_diamond_border: $mobile_diamond_width_border / 2;

$mobile_fourn_top_bottom: $mobile_diamond_size / 2;

// $mobile_fourn_left: $mobile_diamond_size * 0.9;
$mobile_fourn_left: $mobile_left_factor;
$mobile_fiven_left: 26.6vw;

@media (max-width: 1000px) {
  .home_page {
    flex-direction: column;
    display: flex;
    .diamond_grid_3 {
      order: 2;
      margin: 0;
      width: auto;
      float: none;
      flex: 1;
      .square {
        height: $mobile_diamond_size;
        width: $mobile_diamond_size;
        display: inline-block;
        border: $mobile_border_width solid rgba(255,255,255,0.155);
        // border: $mobile_border_width solid rgba(255,255,255,0);
        transform: rotate(45deg);
        margin: $mobile_diamond_margin;
        transition: 0.15s ease-out;
        float: left;
        &:nth-child(4n), &:nth-child(5n) {
          margin: $mobile_diamond_margin;
          border: $mobile_border_width solid rgba(255,255,255,0.155);
        }
      }
      a.square {
        // border: $border_width solid rgba(255,255,255,0.155);
        &:hover {
          border: $mobile_border_width solid rgba(255,255,255,1);
        }
      }
    }
    .wearethenewblkllc {
      order: 1;
      margin: 0;
      align-items: center;
      justify-content: center;
      float: none;
      flex: 1;
      width: auto;
    }
    .mobile_squares {
      display: inline;
    }
    .desktop_squares {
      display: none;
    }
    .newblk {
      height: 6vw;
      margin: 1vw;
    }

  }
}
@media (max-width: 900px) {
  body{
    background: black;
    padding-left: 0;
    padding-top: 70px;
  }
  // .navigator, .main {
  //   display: none;
  // }
  // .mobile_main {
  //   display: block;
  //   color: white;
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  //   .earthlings {
  //     padding: 30px;
  //     flex: 1;
  //     display: flex;
  //     align-items: center;
  //   }
  //   footer.footer {
  //     a {
  //       color: white;
  //
  //     }
  //     .f-wrapper {
  //       flex-direction: column;
  //       align-items: flex-start;
  //       .contact, .social, .map {
  //         padding: 5% 0;
  //       }
  //     }
  //   }
  // }

  // FOOTER

  footer.footer {

    a {
      color: white;

    }
    .f-wrapper {
      flex-direction: column;
      align-items: flex-start;
      .contact, .social, .map {
        padding: 5% 0;
      }
    }
  }

  // MENU

  .navigator {
    max-width: 100%;
    height: auto;
    max-height: 70px;
    padding: 0;
    top: 0;

    &:hover {
      max-width: 100%;
      max-height: 100%;
    }
  }

  // HOMEPAGE

  .home {
    padding-top: 0;
    .navigator {
      opacity: 0;
      top: -70px;
      left: 0;
      &:hover {
        max-height: 70px;
      }
    }
  }

  // CHANNEL PAGE

  .channel_info {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    order:1;
    .video-container, .channel_overlay, .channel_button {
      display: none;
    }
    .channel_words {
      overflow: inherit;
      padding: 0;
      display: block;
      .channel_name, .channel_description {
        width: 100%;
      }
    }
    .channel_container {
      display: block;
    }
  }
  .featured_projects {
    display: flex;
    flex-direction: column;
    .project {
      width: 100%;
      height: auto;
      order: 2;
    }
    &.hide {
      .channel_info {
        display: none;
      }
    }
  }
  .channel {
    height: auto;
    .content {
      height: auto;
      .featured_projects {
        height: auto;
      }
    }
  }

  // CASESTUDY

  .case_study {
    transition: 0.15s ease-out;
    &.loaded {
      background: $lightgray;
    }
    .top {
      height: auto;
      .case_study_name {
        position: relative;
        padding: 150px 15px;
        font-size: 30px;
        display: block;
        padding-bottom: 0;
        margin-bottom: -13px;
        .isvg {
          display: none;
        }
      }
    }

    .left_label  {
      float: none;
      width: auto;
    }

    .post {
      &.block {
        margin-right: 0px;
        padding: 50px 30px;
        .block_wrapper {
          &:before {
            top: -100px;
            left: -100px;
          }
          &:after {
            bottom: -100px;
            right: -100px;
          }
        }
        .bold {
          font-size: 40px;
        }
        .uppercase {
          font-size: 22px;
        }

      }

      &.top_block {
        .block_wrapper {
          flex-direction: column;
          .left_label {
            float: none;
            width: 100%;
            order: 2;
            padding-right: 0;
            padding-top: 25px;
          }
          .content {
            height: auto;
            order: 1;
          }
        }
      }

      &.logo {
        padding: 50px 25px;
        img {
          width: 100%;
          max-height: 300px;
        }
      }

      &.text {
        margin-right: 0;
      }

      &.doublewide {
        flex-direction: column;
        .image {
          order: 1;
          max-width: 100%;
          img {
            width: 100%;
          }
        }
        .text {
          order: 2;
        }
      }

    }
  }

  .agency {
    background: $lightgray;

    .agency_top {
      height: auto;
      .theoldgirl {
        padding: 0 0 250px;
        background-position: center bottom;
        background-size: 100%;
      }
    }

    .border-wrap {
      display: none;
    }

    h1.subheader_top {
      font-size: 50px;
    }

    .block_wrapper {
      flex-direction: column;
    }

    .block {
      padding: 0;
      .left_label  {
        float: none;
        width: auto;
      }
    }

    .needle_wrapper {
      &:before {
        top: -100px;
        left: -100px;
      }
      &:after {
        bottom: -100px;
        right: -100px;
      }
    }

    .needles_info, .bottom_detail {
      display: none;
    }

    .needle {
      padding: 100px 15px;
      margin-right: 0;
      .needles .needles_container {
        padding: 0;
        .needles_wrapper {
          width: 100%;
          flex-direction: column;
        }
      }
    }

    .services {
      padding: 0;
      .service_list {
        flex-direction: column;
        padding: 0 15px;
      }
      .service_detail{
        position: fixed;
        top: 70px;
        bottom: 0;
        &.open {
          left: 0;
        }
        .top_detail {
          flex-direction: column;
          padding: 0;
          .left {
            padding-right: 0;
          }
        }
        .bottom_detail {
          display: block;
        }

        .next_service.here, .prev_service.here {
          display: block;
          text-align: center;
        }

        .next_service {
          float: none;
        }

        .service_detail_wrapper {
          padding: 50px 15px;
        }
        .area {
          text-align: right;
        }
        .close .isvg {
          top: -45px;
          left: -10px;
        }
        .name {
          font-size: 40px;
        }
      }
    }

    .bottom_thing {
      position: relative;
      color: black;
      .left_label  {
        padding-left: 0;
      }
    }

  }

}
