.post {
  max-width: 100%;
  margin: 0;
  .break {
    margin: 15px 0;
  }
  &.black {
    background: $black;
    color: white;
    margin-top: 0;
  }

  &.white {
    background: white;
    margin-top: 0;
  }

  &.block {
    background-color: $black;
    background:
      linear-gradient(135deg, transparent 50px, $black 0) top left,
      linear-gradient(0deg, transparent 0, $black 0) top right,
      linear-gradient(315deg, transparent 50px, $black 0) bottom right,
      linear-gradient(0deg, transparent 0, $black 0) bottom left;
    background-size: 51%!important;
    background-repeat: no-repeat!important;
    padding: 100px 7%;
    color: white;
    .content {
      display: inline-block;
      width: 750px;
      max-width: 100%;
      line-height: 1.5;
    }
    // &.uppercase {
    //   text-transform: uppercase;
    //   font-weight: 100;
    //   font-size: 30px;
    //   font-style: italic;
    //   .content {
    //     width: 750px;
    //     max-width: 100%;
    //   }
    // }
    // &.bold {
    //   text-transform: uppercase;
    //   font-weight: 100;
    //   font-size: 30px;
    //   font-style: italic;
    //   .content, .bold {
    //     width: 750px;
    //     max-width: 100%;
    //     display: block;
    //   }
    //   .bold {
    //     font-weight: bold;
    //     font-style: normal;
    //     font-size: 60px;
    //   }
    // }
    &.top_block {
      flex-direction: row;
      margin-top: 45px;
      margin-right: 50px;
      .content {
        width: 650px;
        &.left_label {
          float: left;
          width: 33%;
          font-weight: bold;
        }
      }
    }
    &.wide {
      .content {
        width: 100%;
      }
    }
  }

  &.text {
    width: 750px;
    max-width: 100%;
    padding: 15% 15px;
    text-align: left;
    line-height: 2;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    .headline {
      text-align: left;
      text-transform: uppercase;
    }
  }

  &.logo {
    display: flex;
    align-items: center;
    padding: 15%;
  }

  &.pullquote {
    width: 500px;
    padding: 0 15px;
    text-align: center;
    p {
      color: $black;
      line-height: 1.5;
    }
  }

  &.image {
    width: 100%;
    img {
      width: 100%;
      display: block;
    }
    &.padded {
      padding: 15px 30px;
      margin: 0;
    }
    &.more-padded {
      padding: 7%;
      margin: 0;
    }
  }

  &.logo {
    img {
      display: table;
      width: 50%;
      margin: auto;
    }
  }

  &.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    .small_logo {
      height: 100px;
      display: inline-block;
      margin: 15px 5%;
      img {
        height: 100%;
        display: block;
      }
    }
  }

  &.two {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    .post {
      margin:0 auto;
    }
    .thing_1, .thing_2 {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .image-wrapper {
      flex: 1 50%;
      img {
        display: table;
        margin: auto;
      }
    }
    &.three-up {
      .image-wrapper {
        flex: 1 33%;
      }
    }
    &.padded {
      padding: 30px 15px;
      .image-wrapper {
        padding: 0 15px;
      }
    }
  }

  &.videos {
    padding-bottom: 56%;
    overflow: hidden;
    position: relative;

    &.video_open {
      padding-bottom: 0;
      .video_sidebar {
        right: -275px;
        &.over, &:hover {
          right: 0;
        }
      }
      .video_sidebar {
        .video_small {
          .small_over {
            display: block;;
            background: $black;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.4;
            transition: 0.15s ease-out;
          }
          &:hover {
            .small_over {
              display: block;;
              background: $black;
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              opacity: 0;
            }
          }
        }
      }
    }

    .main_video_wrapper {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      color: white;
      padding: 15px 300px 15px 25px;
      background-blend-mode: multiply;

      .main_video_container {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        .video_play_button {

        }
        .video_description {
          flex: 1;
          padding: 0 15px;
        }
      }

    }
    .video_sidebar {
      transition: 0.15s ease-out;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 275px;
      z-index: 2;
      overflow: scroll;
      &:hover {
        padding-left: 275px;
        width: 550px;
      }
      .video_small {
        background-size: cover;
        background-position: center;
        display: block;
        height: 150px;
        position: relative;
        border: 0px solid white;
        transition: 0.15s ease-out;
        cursor: pointer;
        .description {
          color: white;
          text-align: right;
          position: absolute;
          right: 0;
          width: 100%;
          padding: 15px;
          z-index: -1;
          transition: 0.15s ease-out;
        }
        &:hover {
          // border-left: 5px solid white;
          .description {
            right: 100%;
          }
          .video_open & {
            .small_over {
              display: block;;
              background: $black;
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              opacity: 0;
              border-left: 5px solid white;
            }
          }
        }
        .video_open & {
          .small_over {
            display: block;;
            background: $black;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.1;
          }
        }
      }
    }
    .iframe-video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .more_overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: $black;
        opacity: 0.8;
        top: 0;
        left: 0;
      }
    }

    .video_more {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 50px;
      right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-transform: uppercase;
      border: 2px white solid;
      line-height: 1;
      transform: rotate(45deg);
      .video_more_text {
        transform: rotate(-45deg);
      }
    }

  }

  &.dragger {
    position: relative;
    min-height: 500px;
    margin: 50px 0;
    .dragger_images {
      margin: auto;
      position: relative;
      width: 500px;
      height: 500px;
    }
    .bottom_image, .top_image {
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      top: 0;
    }
    .top_image {
      width: 50%;
      background-color: $lightgray;
      border-right: $black 2px solid;
    }
    .handle {
      display: inline-block;
      color: white;
      margin-left: -32px;
      margin-top: -38px;
      position: relative;
      z-index: 1;
    }
  }

  &.mouser {
    position: relative;
    min-height: 500px;
    margin: 50px 0;
    .dragger_images {
      margin: auto;
      position: relative;
      width: 500px;
      height: 500px;
      cursor: none;
    }
    .bottom_image, .top_image {
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      top: 0;
    }
    .top_image {
      width: 50%;
      background-color: #ececec;
      border-left: $black 3px solid;
      right: 0;
      background-position: right;
    }
    .handle {
      display: none;
      color: white;
      position: fixed;
      z-index: 1;
    }
    .mouse_overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      cursor: url(/icons/new/slide.svg#cursor) 31 19, none;
      // cursor: none;
    }
    &.over {
      .handle { display: none; }
    }


  }

  &.doublewide {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.no-padding {
      margin: -15px 0;
    }
    .image, .text {
      flex: 1;
      img {
        display:block;
      }
    }
    .image {
      max-width: 40%;
    }
    .text {
      padding: 15px 7%;
    }

    &.logo-small {
      .image, .text {
        padding: 7%;
        max-width: none;
        flex: 1 50%;
      }
    }

    .vargas-signature {
      width: 69%;
      display: table;
      margin: 20px auto;
    }


  }

  &.top-post {
    padding-bottom: 15px;
  }

  &.bottom-post {
    padding-top: 15px;
    padding-bottom: 15%;
  }

}

img { max-width: 100%; }
