a {
  color: red;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    transition: 3s ease-out;
    color: black; }

html {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 65px; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, p {
  opacity: 0; }
  html.wf-active h1, html.wf-active h2, html.wf-active h3, html.wf-active h4, html.wf-active h5, html.wf-active p {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: center;
    opacity: 1;
    transition: .2s ease-out; }
  html.wf-loading h1, html.wf-loading h2, html.wf-loading h3, html.wf-loading h4, html.wf-loading h5, html.wf-loading p {
    opacity: 0; }

.content {
  height: 100%;
  position: relative; }

.navigator {
  width: 65px;
  height: 100%;
  background: white;
  position: fixed;
  padding: 10px;
  left: 0;
  top: 0; }

.main {
  height: 100%; }

.channel {
  height: 100%;
  position: relative; }

.featured_projects {
  height: 100%; }
  .featured_projects .project_1, .featured_projects .project_2, .featured_projects .project_3 {
    display: inline-block;
    float: right; }
  .featured_projects .project {
    background-size: cover;
    background-position: center; }
    .featured_projects .project .project_content {
      display: table;
      width: 100%;
      height: 100%;
      transition: 0.15s ease-out; }
      .featured_projects .project .project_content .project_name {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        opacity: 0; }
    .featured_projects .project:hover .project_content {
      background: rgba(0, 0, 0, 0.5); }
    .featured_projects .project:hover .project_name {
      opacity: 1; }
  .featured_projects .project_1 {
    width: 56%;
    height: 50%;
    background-color: red; }
  .featured_projects .project_2 {
    width: 56%;
    height: 50%;
    background-color: green; }
  .featured_projects .project_3 {
    width: 44%;
    height: 100%;
    background-color: blue; }

.channel_info {
  background: white;
  position: absolute;
  bottom: 3%;
  width: 94%;
  height: 94%;
  right: 3%;
  padding: 30px;
  transition: 0.15s ease-out; }
  .channel_info .channel_name {
    color: black;
    text-transform: uppercase; }
  .channel_info .channel_icon {
    display: none;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: 0.25s ease-out; }
  .featured_projects.hide .channel_info {
    height: 50px;
    width: 50px;
    padding: 0; }
    .featured_projects.hide .channel_info .channel_icon {
      display: block;
      position: relative;
      z-index: 1;
      height: 50px;
      margin: auto;
      opacity: 1;
      cursor: pointer; }
    .featured_projects.hide .channel_info .channel_name, .featured_projects.hide .channel_info .channel_description {
      display: none; }
    .featured_projects.hide .channel_info .view_channel {
      height: 50px;
      width: 50px;
      background: white;
      transform: rotate(45deg);
      border: none;
      overflow: hidden;
      color: transparent;
      bottom: 0;
      right: 0; }
    .featured_projects.hide .channel_info:hover {
      background: #333; }
      .featured_projects.hide .channel_info:hover .view_channel {
        background: #333; }
  .channel_info .view_channel {
    border: 1px dotted #333;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: 0.15s ease-out; }
    .channel_info .view_channel:hover {
      border: 1px solid #333;
      background: #333;
      color: white; }

.case_study, .top {
  height: 100%; }

.top {
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid white; }
  .top .case_study_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 60px; }

.post {
  max-width: 100%;
  margin: 50px auto;
  padding: 0 15px; }
  .post.text {
    width: 600px;
    padding: 0 15px;
    text-align: center;
    line-height: 2; }
  .post.pullquote {
    width: 500px;
    padding: 0 15px;
    text-align: center; }
  .post.image {
    width: 1000px;
    padding: 0 15px; }
  .post.logo img {
    display: table;
    width: 50%;
    margin: auto; }
  .post.two {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto; }
    .post.two .post {
      margin: 0 auto; }
    .post.two .thing_1, .post.two .thing_2 {
      width: 50%;
      display: inline-block;
      vertical-align: middle; }

img {
  max-width: 100%; }
