h1, h2, h3, h4, h5 {
  font-family: 'Conduit ITC W01 Bold';
  font-weight: normal; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold {
    font-family: 'Conduit ITC W01 Bold';
    font-weight: normal; }

body, p, span {
  font-family: 'Museo Sans W01_300';
  line-height: 1.4; }
  body.italic, p.italic, span.italic {
    font-family: 'MuseoSansW01-300Italic'; }
    body.italic span, p.italic span, span.italic span {
      font-family: 'MuseoSansW01-300Italic'; }
  body.bold, p.bold, span.bold {
    font-family: 'Museo Sans W01_700'; }
    body.bold span, p.bold span, span.bold span {
      font-family: 'Museo Sans W01_700'; }
  body.bold.italic, p.bold.italic, span.bold.italic {
    font-family: 'MuseoSansW01-700Italic'; }
    body.bold.italic span, p.bold.italic span, span.bold.italic span {
      font-family: 'MuseoSansW01-700Italic'; }

.uppercase {
  text-transform: uppercase; }

.post.block .content.uppercase {
  font-family: 'MuseoSansW01-300Italic';
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic; }

.post.block .content.bold {
  font-weight: normal !important;
  font-size: 60px;
  text-transform: uppercase; }

a {
  color: black;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    transition: 0.15s ease-out;
    color: black; }

html {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 70px;
  background: #ececec; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, p {
  opacity: 1;
  line-height: 1.5; }
  html.wf-active h1, html.wf-active h2, html.wf-active h3, html.wf-active h4, html.wf-active h5, html.wf-active p {
    margin: 0;
    padding: 0;
    text-transform: center;
    opacity: 1;
    transition: .2s ease-out; }
  html.wf-loading h1, html.wf-loading h2, html.wf-loading h3, html.wf-loading h4, html.wf-loading h5, html.wf-loading p {
    opacity: 0; }

::-moz-selection {
  background: black;
  color: white; }

::selection {
  background: black;
  color: white; }

.content {
  height: 100%;
  position: relative; }

.navigator {
  width: 100%;
  max-width: 70px;
  height: 100%;
  background: white;
  position: fixed;
  padding: 10px 0;
  left: 0;
  top: 0;
  transition: 0.25s ease-out;
  z-index: 1;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 111; }
  .navigator .newblk_logo {
    margin: 10px;
    display: inline-block; }
    .navigator .newblk_logo svg {
      fill: black; }
      .navigator .newblk_logo svg #blk {
        transition: 0.15s ease-out;
        opacity: 0;
        -webkit-transform: translate(200px);
        transform: translate(200px); }
  .navigator .icon {
    width: 50px;
    margin: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: inherit;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.15s ease-out; }
    .navigator .icon:hover {
      -webkit-transform: scale(1.15);
      transform: scale(1.15); }
  .navigator svg {
    fill: #939598;
    transition: 0.15s ease-out; }
    .navigator svg:hover {
      fill: black; }
    .navigator svg #two {
      display: none; }
  .navigator .items {
    margin-top: 15px; }
    .navigator .items a {
      display: block; }
    .navigator .items .name {
      display: inline-block;
      line-height: 70px;
      color: black;
      text-transform: uppercase;
      font-size: 14px;
      opacity: 0;
      text-align: center;
      transition: 0.15s ease-in;
      position: absolute;
      /* left: -1000%; */ }
  .navigator:hover {
    max-width: 250px; }
    .navigator:hover .items .name {
      display: inline-block;
      vertical-align: middle;
      opacity: 1;
      margin: 0 25px 0 10px;
      left: inherit; }
    .navigator:hover .newblk_logo svg #blk {
      opacity: 1;
      -webkit-transform: translate(0px);
      transform: translate(0px); }

.navigator_overlay {
  opacity: 0;
  transition: 0.15s ease-out; }

.navigator:hover + .navigator_overlay {
  position: fixed;
  width: 100%;
  background: black;
  height: 100%;
  opacity: 0.1;
  z-index: 110; }

.main {
  transition: 0.15s ease-out;
  -webkit-filter: contrast(1) grayscale(0) blur(0);
  filter: contrast(1) grayscale(0) blur(0); }

.navigator:hover + .main {
  -webkit-filter: contrast(6) grayscale(1) blur(5px);
  filter: contrast(6) grayscale(1) blur(5px); }

.sprite_container {
  overflow: hidden;
  display: inline-block;
  position: relative; }
  .sprite_container img {
    max-width: inherit; }
  .sprite_container svg {
    transition: 0.15s ease-out; }
  .sprite_container:hover svg {
    fill: black; }

.main {
  height: 100%; }

.lost {
  display: none !important; }

.channel {
  height: 100%;
  position: relative; }

.featured_projects {
  height: 100%; }
  .featured_projects .project_1, .featured_projects .project_2, .featured_projects .project_3 {
    display: inline-block;
    float: right; }
  .featured_projects .project {
    background-size: cover;
    background-position: center; }
    .featured_projects .project .project_content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      transition: 0.15s ease-out;
      background: rgba(0, 0, 0, 0.5);
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .featured_projects .project .project_content .project_inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        vertical-align: middle;
        text-align: center;
        opacity: 1;
        color: white;
        padding: 30px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
      .featured_projects .project .project_content .project_name {
        border-bottom: dotted 1px white;
        text-transform: uppercase;
        padding: 5px 15px; }
      .featured_projects .project .project_content .project_tagline {
        font-weight: 100;
        padding: 15px 5px;
        line-height: 1.5; }
    .featured_projects .project:hover .project_content {
      background: rgba(0, 0, 0, 0.1); }
    .featured_projects .project:hover .project_inner {
      opacity: 1; }
  .featured_projects .project_1 {
    width: 56%;
    height: 50%;
    background-color: #111; }
  .featured_projects .project_2 {
    width: 56%;
    height: 50%;
    background-color: #222; }
  .featured_projects .project_3 {
    width: 44%;
    height: 100%;
    background-color: #333; }

.channel_container {
  width: 600px;
  max-width: 100%;
  margin: auto; }

.channel_info {
  background: white;
  position: absolute;
  bottom: 3%;
  width: 94%;
  height: 94%;
  right: 3%;
  padding: 30px;
  transition: 0.15s ease-out; }
  .channel_info .channel_name {
    font-size: 75px;
    color: black;
    text-transform: uppercase; }
  .channel_info .channel_icon {
    display: none;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: 0.25s ease-out; }
    .channel_info .channel_icon:hover svg {
      fill: white; }
  .channel_info .channel_description {
    color: #868686;
    line-height: 2; }
  .featured_projects.hide .channel_info {
    height: 50px;
    width: 50px;
    padding: 0; }
    .featured_projects.hide .channel_info .channel_icon {
      display: block;
      position: relative;
      z-index: 1;
      height: 50px;
      margin: auto;
      opacity: 1;
      cursor: pointer; }
    .featured_projects.hide .channel_info .channel_name, .featured_projects.hide .channel_info .channel_description {
      display: none; }
    .featured_projects.hide .channel_info .view_channel {
      height: 50px;
      width: 50px;
      background: white;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border: none;
      overflow: hidden;
      color: transparent;
      bottom: 0;
      right: 0; }
    .featured_projects.hide .channel_info:hover {
      background: #333; }
      .featured_projects.hide .channel_info:hover .view_channel {
        background: #333; }
  .channel_info .view_channel {
    border: 1px dotted #333;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: 0.15s ease-out; }
    .channel_info .view_channel:hover {
      border: 1px solid #333;
      background: #333;
      color: white; }

.case_study, .top {
  height: 100%; }

.top {
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid #ececec; }
  .top .case_study_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 60px;
    line-height: .83;
    color: #ececec;
    padding-left: 7%; }

.second_street {
  color: #f27d6b; }

.post {
  max-width: 100%;
  margin: 15px 0 0; }
  .post .break {
    margin: 15px 0; }
  .post.black {
    background: black;
    color: white;
    margin-top: 0; }
  .post.white {
    background: white;
    margin-top: 0; }
  .post.block {
    background-color: black;
    background: linear-gradient(135deg, transparent 50px, black 0) top left, linear-gradient(0deg, transparent 0, black 0) top right, linear-gradient(315deg, transparent 50px, black 0) bottom right, linear-gradient(0deg, transparent 0, black 0) bottom left;
    background-size: 51% !important;
    background-repeat: no-repeat !important;
    padding: 100px 7%;
    color: white; }
    .post.block .content {
      display: inline-block;
      width: 750px;
      max-width: 100%;
      line-height: 1.5; }
    .post.block.top_block .content {
      width: 650px; }
      .post.block.top_block .content.left_label {
        float: left;
        width: 33%;
        font-weight: bold; }
    .post.block.wide .content {
      width: 100%; }
  .post.text {
    width: 750px;
    max-width: 100%;
    padding: 15% 15px;
    text-align: left;
    line-height: 2;
    padding-left: 7%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .post.text .headline {
      text-align: left;
      text-transform: uppercase; }
  .post.logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15%; }
  .post.pullquote {
    width: 500px;
    padding: 0 15px;
    text-align: center; }
    .post.pullquote p {
      color: black;
      line-height: 1.5; }
  .post.image {
    width: 100%; }
    .post.image img {
      width: 100%;
      display: block; }
    .post.image.padded {
      padding: 15px 30px;
      margin: 0; }
    .post.image.more-padded {
      padding: 7%;
      margin: 0; }
  .post.logo img {
    display: table;
    width: 50%;
    margin: auto; }
  .post.logos {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .post.logos .small_logo {
      height: 100px;
      display: inline-block;
      margin: 15px 5%; }
      .post.logos .small_logo img {
        height: 100%;
        display: block; }
  .post.two {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto; }
    .post.two .post {
      margin: 0 auto; }
    .post.two .thing_1, .post.two .thing_2 {
      width: 50%;
      display: inline-block;
      vertical-align: middle; }
  .post.images {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .post.images .image-wrapper {
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%; }
      .post.images .image-wrapper img {
        display: table;
        margin: auto; }
    .post.images.three-up .image-wrapper {
      -webkit-flex: 1 33%;
      -ms-flex: 1 33%;
      flex: 1 33%; }
    .post.images.padded {
      padding: 30px 15px; }
      .post.images.padded .image-wrapper {
        padding: 0 15px; }
  .post.videos {
    padding-bottom: 56%;
    overflow: hidden;
    position: relative; }
    .post.videos.video_open {
      padding-bottom: 0; }
      .post.videos.video_open .video_sidebar {
        right: -275px; }
        .post.videos.video_open .video_sidebar.over, .post.videos.video_open .video_sidebar:hover {
          right: 0; }
      .post.videos.video_open .video_sidebar .video_small .small_over {
        display: block;
        background: black;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.4;
        transition: 0.15s ease-out; }
      .post.videos.video_open .video_sidebar .video_small:hover .small_over {
        display: block;
        background: black;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0; }
    .post.videos .main_video_wrapper {
      background-size: cover;
      background-position: center;
      height: 100%;
      position: absolute;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: white;
      padding: 15px 300px 15px 25px;
      background-blend-mode: multiply; }
    .post.videos .video_sidebar {
      transition: 0.15s ease-out;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 275px;
      z-index: 2;
      overflow: scroll; }
      .post.videos .video_sidebar:hover {
        padding-left: 275px;
        width: 550px; }
      .post.videos .video_sidebar .video_small {
        background-size: cover;
        background-position: center;
        display: block;
        height: 150px;
        position: relative;
        border: 0px solid white;
        transition: 0.15s ease-out;
        cursor: pointer; }
        .post.videos .video_sidebar .video_small .description {
          color: white;
          text-align: right;
          position: absolute;
          right: 0;
          width: 100%;
          padding: 15px;
          z-index: -1;
          transition: 0.15s ease-out; }
        .post.videos .video_sidebar .video_small:hover .description {
          right: 100%; }
        .video_open .post.videos .video_sidebar .video_small:hover .small_over {
          display: block;
          background: black;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          border-left: 5px solid white; }
        .video_open .post.videos .video_sidebar .video_small .small_over {
          display: block;
          background: black;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0.1; }
    .post.videos .iframe-video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .post.videos .iframe-video-container iframe, .post.videos .iframe-video-container object, .post.videos .iframe-video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .post.videos .iframe-video-container .more_overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.8;
        top: 0;
        left: 0; }
    .post.videos .video_more {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 50px;
      right: 30px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      text-transform: uppercase;
      border: 2px white solid;
      line-height: 1;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
      .post.videos .video_more .video_more_text {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .post.dragger {
    position: relative;
    min-height: 500px;
    margin: 50px 0; }
    .post.dragger .dragger_images {
      margin: auto;
      position: relative;
      width: 500px;
      height: 500px; }
    .post.dragger .bottom_image, .post.dragger .top_image {
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      top: 0; }
    .post.dragger .top_image {
      width: 50%;
      background-color: #ececec;
      border-right: black 2px solid; }
    .post.dragger .handle {
      display: inline-block;
      color: white;
      margin-left: -32px;
      margin-top: -38px;
      position: relative;
      z-index: 1; }
  .post.mouser {
    position: relative;
    min-height: 500px;
    margin: 50px 0; }
    .post.mouser .dragger_images {
      margin: auto;
      position: relative;
      width: 500px;
      height: 500px;
      cursor: none; }
    .post.mouser .bottom_image, .post.mouser .top_image {
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      top: 0; }
    .post.mouser .top_image {
      width: 50%;
      background-color: #ececec;
      border-left: black 3px solid;
      right: 0;
      background-position: right; }
    .post.mouser .handle {
      display: none;
      color: white;
      position: fixed;
      z-index: 1; }
    .post.mouser .mouse_overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100;
      cursor: url(/icons/new/slide.svg#cursor) 31 19, none; }
    .post.mouser.over .handle {
      display: none; }
  .post.doublewide {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .post.doublewide.no-padding {
      margin: -15px 0; }
    .post.doublewide .image, .post.doublewide .text {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .post.doublewide .image img, .post.doublewide .text img {
        display: block; }
    .post.doublewide .image {
      max-width: 40%; }
    .post.doublewide .text {
      padding: 15px 7%; }
    .post.doublewide.logo-small .image, .post.doublewide.logo-small .text {
      padding: 7%;
      max-width: none;
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%; }
    .post.doublewide .vargas-signature {
      width: 69%;
      display: table;
      margin: 20px auto; }
  .post.top-post {
    padding-bottom: 15px; }
  .post.bottom-post {
    padding-top: 15px;
    padding-bottom: 15%; }

img {
  max-width: 100%; }

.agency_top {
  height: 100%;
  overflow: hidden; }
  .agency_top .subheader_top {
    font-size: 75px;
    text-align: center; }
  .agency_top .header_top {
    font-size: 50px; }

.agency {
  height: 100%; }

.theoldgirl {
  height: 100%;
  padding: 50px;
  background-image: url(/images/agency/theoldgirl_grayscale.jpg);
  background-position: top;
  background-size: cover; }

.block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .block .content {
    width: 650px; }
  .block .left_label {
    float: left;
    width: 33%;
    font-size: 20px; }

.needle {
  background-color: black;
  background: linear-gradient(135deg, transparent 50px, black 0) top left, linear-gradient(0deg, transparent 0, black 0) top right, linear-gradient(315deg, transparent 50px, black 0) bottom right, linear-gradient(0deg, transparent 0, black 0) bottom left;
  background-size: 51% !important;
  background-repeat: no-repeat !important;
  padding: 100px 7%;
  color: white; }
  .needle .needle_headline {
    text-transform: uppercase;
    font-size: 75px;
    margin: 0;
    line-height: 1; }

.block {
  margin: 50px 0; }

img.full {
  width: 100%;
  display: block; }

.service_list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .service_list .service_type {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .service_list .service_title {
    text-transform: uppercase; }
  .service_list .service {
    position: relative; }
    .service_list .service:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      background: transparent;
      top: 8px;
      transition: 0.15s ease-out;
      transition: 0.1s ease-out left, 0.15s ease-out background, 0.2s ease-out -webkit-transform;
      transition: 0.1s ease-out left, 0.15s ease-out background, 0.2s ease-out transform;
      left: 0;
      -webkit-transform: rotate(3600deg);
      transform: rotate(3600deg); }
    .service_list .service:hover {
      cursor: pointer; }
      .service_list .service:hover:before {
        background: black;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: -30px; }

.services {
  position: relative;
  padding: 50px;
  padding-left: 7%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.diamond {
  display: inline-block;
  position: relative;
  height: 8px;
  width: 8px;
  background: #c6c6c5;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -2px;
  margin: 0 7px; }

.service_detail {
  position: absolute;
  top: 50px;
  left: 100%;
  right: -100%;
  background: white;
  bottom: 50px;
  z-index: 1;
  transition: 0.25s ease-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  .service_detail .service_detail_wrapper {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
    border: 3px solid black;
    border-right: none; }
  .service_detail.open {
    left: 50px;
    right: 0; }
  .service_detail .area {
    text-transform: capitalize;
    color: #c6c6c5; }
  .service_detail .name {
    font-size: 75px;
    line-height: 1;
    margin: 0; }
  .service_detail .close {
    cursor: pointer;
    position: relative; }
    .service_detail .close .isvg {
      z-index: 2;
      position: absolute;
      top: -50px;
      left: -50px; }
      .service_detail .close .isvg svg {
        background: white;
        width: 30px;
        height: 30px; }
    .service_detail .close:after {
      content: '';
      height: 300px;
      width: 300px;
      background: #ececec;
      position: absolute;
      border: 3px solid black;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -250px;
      left: -250px;
      z-index: 1; }
  .service_detail .top_detail {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 7%; }
    .service_detail .top_detail .left {
      padding-right: 75px; }
    .service_detail .top_detail .right {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .service_detail .next_service, .service_detail .prev_service {
    opacity: 0;
    cursor: pointer;
    color: #c6c6c5;
    transition: 0.15s ease-out; }
    .service_detail .next_service.here, .service_detail .prev_service.here {
      opacity: 1;
      transition: 0.15s ease-out; }
    .service_detail .next_service span, .service_detail .prev_service span {
      display: inline-block;
      vertical-align: middle; }
    .service_detail .next_service svg, .service_detail .prev_service svg {
      transition: 0.15s ease-out;
      fill: #c6c6c5; }
    .service_detail .next_service .service_name, .service_detail .prev_service .service_name {
      margin: 0 10px; }
    .service_detail .next_service:hover, .service_detail .prev_service:hover {
      color: black; }
      .service_detail .next_service:hover svg, .service_detail .prev_service:hover svg {
        fill: black; }
  .service_detail .next_service {
    float: right; }

.simple_input {
  width: 75px;
  border: none;
  background: transparent;
  font-size: 15px;
  text-align: right; }

.controls {
  background: rgba(0, 0, 0, 0.8);
  margin: 15px;
  padding: 15px;
  color: white; }
  .controls .simple_input {
    color: white; }
  .controls input[type=range] {
    width: 100%; }

.centered {
  text-align: center; }

.home {
  padding-top: 50px; }

.home_sprite {
  display: table;
  margin: 50px auto;
  transition: 0.15s ease-out; }
